.font-style{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
.text-center{
    text-align: center;
}
.w-100{
    width: 100%;
}
.m-t-200{
    margin-top: 200px;
}
.m-t-100{
    margin-top: 100px;
}