<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-motion</title>
    <link rel="stylesheet" type="text/css" href="../static/css/mainPages.css" media="screen" />
</head>
<body>
    <div class="text-center m-t-200 font-style">
        <img src="../static/EmotionLogo.png" alt="logo" height="100" width="579"/>
        <h1 class="m-t-100">Log in!</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <table class="w-100">
                    <tr>
                        <td width="59.5%">
                            <div class="form-group" style="float:right">
                                {{ form.password.label(class="form-control-label") }}
                                {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </td>
                        <td width="40.5%">
                            <div class="form-check" style="float:right">
                                {{ form.remember(class="form-check-input") }}
                                {{ form.remember.label(class="form-check-label") }}
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <div class="form-group m-t-10">
                {{ form.submit(class="btn btn-outline-dark") }}
            </div>
        </form>
    </div>
</body>
</html>